<h1>{{videojuego.nombre}} <small>({{videojuego.lanzamiento}})</small></h1>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img class="img-fluid" [src]="videojuego.img" alt="videojuego.nombre">
        <br><br>
        <a [routerLink]="['/videojuegos']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{videojuego.nombre}}</h3>
        <hr>
        <p>
            {{videojuego.descripcion}}
        </p>
        <img *ngIf="videojuego.consola == 'PlayStation 4'" class="logo" src="assets/img/consolas/playStation.png"> 
        <img *ngIf="videojuego.consola == 'PlayStation 5'" class="logo" src="assets/img/consolas/playStation.png"> 
        <img *ngIf="videojuego.consola == 'xbox'" class="logo" src="assets/img/consolas/xbox.png"> 
    </div>
</div>